/bin/
/cases/
/more-test-cases/
/random_inputs/
/random_outputs/
/results/
/testcases-generated/
/testcases-generated-output/
/log
/sampleoutput.txt
/testcases-generated.zip
/homework2-results/
/homework2-testcases/
/hw2-5000/
